<h2>Edit Item</h2>

<section fxLayout fxLayoutAlign="center">
  <form  fxFlex.xs="100%" fxFlex.gt-xs="400px" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <mat-form-field >
        <mat-label>Name</mat-label>
        <input matInput
               formControlName="name"
               type="text">
        <mat-error *ngIf="itemForm.get('name').hasError('required')">Is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput
               formControlName="desc"
               type="text">
        <!--<mat-error *ngIf="itemForm.get('desc').errors['minLength']">Min 5</mat-error>-->
        <mat-error>{{getDescErrorMessage()}}</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="5px" fxFlexAlign.gt-xs="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!itemForm.valid">Submit</button>
        <button mat-raised-button type="button" (click)="onClose()">cancel</button>
      </div>
    </div>


  </form>
</section>
