<mat-sidenav-container>
  <mat-sidenav #sidenav >
    side nav
  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-raised-button (click)="sidenav.toggle()" fxHide.gt-xs>
        <mat-icon  >menu</mat-icon>
      </button>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/">List</a></li>
          <li><a [routerLink]="['table']">Table</a></li>
          <li><a [routerLink]="['guarded']">Guarded</a></li>
          <li><a [routerLink]="['rxjs']">rxjs</a></li>
        </ul>

          <button *ngIf="!logged" mat-button (click)="onLogin(item)">Log in</button>
          <button *ngIf="logged" mat-button (click)="onLogout(item)">log out</button>

      </div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


